form {
    border: none !important;
}

.ng-dirty.ng-valid.ng-valid-required{
    border: 1px #cfcfcf solid !important;
}
.ng-invalid.ng-invalid-required.ng-invalid {
    border: 1px #cf0400 solid;
}
input.ng-pristine, textarea.ng-pristine {
    border: 1px #cfcfcf solid !important;
}
.ng-dirty.ng-valid-required.ng-invalid-email {
    border: 1px #cf0400 solid;
}
.has-errors input{
    color: red;
}