<div class="header">
    <h3 class="text-muted">Ripple Name Application</h3>
</div>

<div class="ng-scope instructions header">
    <h4>Applying for a name and completing the payment does not guarantee that the Ripple name will be claimable.</h4>
    <p>Applications must show some previous or intended use of the name, which can include, but is not limited to:</p>
    <ul>
        <li>Having a registered business, or doing-business-as, with that name.</li>
        <li>Owning and controling a related domain name.</li>
        <li>Not infringing on known trademarks or service marks.</li>
        <li>Not intended to confuse or mislead.</li>
    </ul>
    <p>Applications will be reviewed in early May. Ripple names not on the reserved list, including names pending application review, will be available for claiming in the next few weeks.</p>
    <p>Reserved list:</p>
    <ul>
        <li>The most visited 100,000 domains</li>
        <li>All 1-character and 2-character names</li>
        <li>Current [name]@ripple.com addresses</li>
    </ul>
    <h4>Application Fee</h4>
    <p>Each application requires a 10,000XRP fee. The fee goes to a <a href="https://ripple.com/wiki/Accounts#Black_hole_Addresses">black hole address</a>. Ripple Labs does not collect this fee.</p>
    <p>After completing this form, you will receive an email confirmation with a destination tag specific to your application. You must send 10,000XRP to rrrrrrrrrrrrrrrrrNAMEtxvNvQ with your generated destination tag.</p>
</div>

<div class="row marketing">
    <form name="rippleNameForm" ng-submit="submitForm(rippleNameForm.$valid)" novalidate role="form" ng-hide="submittedSuccessfully">
        <div ng-show="submitErrors.length > 0" class="alert alert-error">
            <p ng-repeat="err in submitErrors">{{err}}</p>
        </div>
        <fieldset ng-disabled="isSubmitting">
            <div class="form-group">
                <label for="full_name">Full Name<sup>*</sup></label>
                <input  class="form-control" required type="text" ng-model="rippleName.full_name" name="full_name">
                <p ng-show="rippleNameForm.full_name.$invalid && !rippleNameForm.full_name.$pristine " class="help-block">Your name is required.</p>
            </div>

            <div class="form-group">
                <label for="organization">Organization</label>
                <input  class="form-control" type="text" ng-model="rippleName.organization" name="organization">
            </div>

            <div class="form-group">
                <label for="email">Email<sup>*</sup></label>
                <input  class="form-control" required type="email" ng-model="rippleName.email" name="email">
                <div class="error" ng-show="rippleNameForm.email.$dirty && rippleNameForm.email.$invalid">
                    <p ng-show="rippleNameForm.email.$error.required" class="help-block">An email address is required.</p>
                    <p ng-show="rippleNameForm.email.$error.email" class="help-block">Please enter a valid email address.</p>
                </div>
            </div>
            <div class="form-group">
                <label for="tel">Phone<sup>*</sup></label>
                <input  class="form-control" required type="tel" ng-model="rippleName.phone" name="phone">
                <p ng-show="rippleNameForm.phone.$invalid && !rippleNameForm.phone.$pristine" class="help-block">This field is required.</p>
            </div>

            <div class="form-group">
                <label for="website">Website</label>
                <p>Please include http(s)://</p>
                <input  class="form-control" type="url" ng-model="rippleName.website" name="website" null-if-empty>
                <p ng-show="rippleNameForm.website.$invalid && !rippleNameForm.website.$pristine" class="help-block">Please enter a valid url</p>
            </div>

            <div class="form-group">
                <label for="ripple_name">Requested Ripple name<sup>*</sup></label>
                <input  class="form-control" required check-domain ng-minlength="3" ng-maxlength="20" ng-pattern="/^(?![0-9]*$)[a-zA-Z0-9]+$/" type="text" ng-model="rippleName.ripple_name" name="ripple_name">
                <div class="error" ng-show="rippleNameForm.ripple_name.$dirty && rippleNameForm.ripple_name.$invalid">
                    <p ng-show="rippleNameForm.ripple_name.$error.required" class="help-block">Please enter your desired Ripple name</p>
                    <p ng-show="rippleNameForm.ripple_name.$error.minlength">Ripple name has to be at least three characters long.</p>
                    <p ng-show="rippleNameForm.ripple_name.$error.maxlength">Ripple name has to be cannot be more than 15 characters long.</p>
                    <p ng-show="rippleNameForm.ripple_name.$error.pattern">Ripple name cannot be just numbers; alphanumeric only allowed.</p>
                    <p ng-show="rippleNameForm.ripple_name.$error.domainexists">Domain already exists</p>
                </div>
            </div>

            <div class="form-group">
                <label for="ripple_address">Current Ripple address<sup>*</sup></label>
                <input  class="form-control" required ng-minlenth="3" type="text" ng-model="rippleName.ripple_address" name="ripple_address">
                <p ng-show="rippleNameForm.ripple_address.$invalid && !rippleNameForm.ripple_address.$pristine" class="help-block">This field is required.</p>
            </div>

            <div class="form-group">
                <label for="justification">Justification<sup>*</sup></label>
                <p>Please include applicable URLs or other reference material. We may contact you during the review period for more information.</p>
                <textarea class="form-control" required ng-model="rippleName.justification" name="justification"></textarea>
                <p ng-show="rippleNameForm.justification.$invalid && !rippleNameForm.justification.$pristine" class="help-block">This field is required.</p>
            </div>

            <button class="btn btn-primary" ng-disabled="rippleNameForm.$invalid" type="submit">
                <span ng-show="isSubmitting">Submitting ...</span>
                <span ng-hide="isSubmitting">Submit</span>
            </button>
        </fieldset>
    </form>

    <div class="alert alert-success" ng-show="submittedSuccessfully">
        <h4>Your application form has been successfully submitted!</h4>
    </div>
</div>

<div class="footer">

</div>
